@using System.Web.UI.WebControls
@using PagedList.Mvc
@model PagedList.IPagedList<CDNVN.BibleOnline.Models.Content>
@{
    var count = 1;
    var bible = (SelectList)ViewBag.Bible;
}


<div class="row">
    <section class="advanced-form col-md-4">
        <form action="#">
            <div class="form-group">
                <label for="#">Từ Khóa</label>
                @Html.TextBox("q", Request.QueryString["q"])
            </div>

            <div class="form-group">
                <label for="#">Bản Dịch</label>

                <select name="v" class="selectpicker form-control" data-width="100%">
                    @foreach (var v in (SelectList)ViewBag.Bible)
{
    <option value="@v.Value" data-subtext="@v.Text" selected="@v.Selected"> @v.Value.ToUpper()</option>
}
                </select>
            </div>

            <div class="form-group">
                <label for="#">Từ</label>
                <select name="from" id="#" class="selectpicker form-control" data-live-search="true" data-width="100%">
                    @foreach (var from in (SelectList)ViewBag.FromBook)
                    {
                        <option value="@from.Value" selected="@from.Selected">@from.Text (@from.Value)</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="#">Đến</label>
                <select name="to" id="#" class="selectpicker form-control" data-live-search="true" data-width="100%">
                    @foreach (var to in (SelectList)ViewBag.ToBook)
                    {
                        <option value="@to.Value" selected="@to.Selected">@to.Text (@to.Value)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Tìm kiếm">
            </div>
        </form>
    </section><!-- end advanced-form -->

    <div class="advanced-form-content col-md-8">
        <section class="reading-header clearfix">
            <h2 class="search-result-quote">Tìm kiếm thấy <span>2010</span> kết quả</h2>
        </section>

        <section id="reading-content" class="block-content"></section><!-- end #reading-content -->

        <section class="reading-header clearfix">
            <h2 class="search-result-quote">Tìm kiếm thấy <span>2010</span> kết quả</h2>
        </section>
        <div class="loading">
            <img src="@Url.Content("~/Content/image/ajax-loader.gif")" />
        </div>
    </div><!-- end col-md-8 -->

</div><!-- end row -->
@section scripts
{
    <script type="text/javascript">
        $('.bootstrap-select').selectpicker();

        var search = '@Request.QueryString["q"]';

        function Loadding(bookName, c, page, cBook) {
            $.ajax({
                url: '@Url.Action("Json")',
                data: JSON.stringify({ v: '@Request.QueryString["v"]', q: '@Request.QueryString["q"]', from: '@Request.QueryString["from"]', to: '@Request.QueryString["to"]', page: page }),
                contentType: "application/json",
                traditional: true,
                type: "POST",
                beforeSend: function () {
                    $('.loading').show();
                },
                success: function (r) {
                    var html = "";
                    if (r.contents.length > 0) {
                        for (var i = 0; i < r.contents.length; i++) {
                            if (r.contents[i].BookName != bookName) {
                                if (c == 1) {
                                    $('.search-result-quote span').html(r.total);
                                    $('.reading-header').show();
                                } else {
                                    html = html + "<p> Trong sách " + bookName + " có " + (c - cBook) + " kết quả" + "</p>";
                                }
                                html = html +
                                    "<h1 class='reading-title'><i class='icon-book'></i>" + r.contents[i].BookName + "</h1>";
                                bookName = r.contents[i].BookName;
                                cBook = c;
                            }
                            html = html + "<span class='verse'>"+c+". <a href='" + r.contents[i].Url + "' class='verse-add'>" + r.contents[i].BookName + " " + r.contents[i].Adress + "</a>" +
                                "<span class='verse-content'>" + r.contents[i].Word + "</span></span>";

                            if (c == r.total) {
                                html = html + "<b> Trong sách " + bookName + " có " + (c - cBook) + " kết quả" + "</b></div></section>";
                            }
                            c++;
                        }
                        $('#reading-content').append(html);
                        if (c <= r.total)
                            Loadding(bookName, c, page + 1, cBook);
                        else {
                            $('.loading').hide();
                        }
                    } else {
                        $('.loading').hide();
                    }

                },
                error: function () {
                    $('.loading').hide();
                    $('.error').show();
                }
            });
        }
        $(document).ready(function () {
            $("#content-search p:contains('@Request.QueryString["q"]')").css('background-color', 'yellow');
            $('.loading').hide();
            $('.reading-header').hide();
            $('.error').hide();
            var page = 1;
            var c = 1;
            Loadding("", c, page, 1);

            @*$(window).scroll(function () { //detect page scroll

                if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
                {
                }
            });*@
        });
    </script>
}

