@model IEnumerable<Book>
@using CDNVN.BibleOnline.Models
@{
    ViewBag.Title = "Home Page";
    var gence = new Gences().List;
    var group = 1;
}

@if (Model != null && Model.Any())
{
    foreach (var book in Model)
    {
        if (book.Order == 1)
        {
            @Html.Raw("<section id=\"old-testament\" class=\"testament\"><h1 class=\"title\">Cựu ước</h1>")
            @Html.Raw("<ul class=\"group-"+group+" group-book row\">")
        }
        if (book.Order == 6 || book.Order == 18 || book.Order == 23 || book.Order == 28 || book.Order == 44 || book.Order == 45 || book.Order == 58 || book.Order == 66)
        {
            @Html.Raw("</ul><!-- end .group-"+group+" -->")
            group++;
            @Html.Raw("<ul class=\"group-"+group+" group-book row\">")
        }
        
        if (book.Order == 40)
        {
            @Html.Raw("</ul><!-- end .group-"+group+" -->")
            group=1;
            @Html.Raw("<section id=\"new-testament\" class=\"testament\"><h1 class=\"title\">Tân ước</h1>")
            @Html.Raw("<ul class=\"group-"+group+" group-book row\">")
        }
        <li class="book col-md-1 col-sm-1" data-toggle="tooltip" data-placement="top" title="@book.Name" data-chapter="150">
            <div class="book-inner">
                <a href="javascript:" class="chapter">@book.CodeName</a>
                <span class="label-shortcode">@book.TotalChapter</span>
            </div>
        </li>
        if (book.Order == 66)
        {

            @Html.Raw("</ul></section>")
        }
    }
}