@model IEnumerable<CDNVN.BibleOnline.Models.Content>
@{
    var versions = (SelectList)ViewBag.Bible;
}
<section class="reading-header clearfix">
    <h1 class="reading-title"><i class="icon-book"></i>@ViewBag.Title</h1>
    <div class="reading-setting">
        <nav>
            <a href="#" class="pararell" data-display="show">pararell</a>
            <a href="#" class="light">light</a>
            <a href="#" class="block">block</a>
            <a href="#" class="font-minus">font minus</a>
            <a href="#" class="font-add">font add</a>
        </nav>
    </div>
</section>

<section id="reading-content" class="block-content row">
    <div id="@Request.QueryString["v"]" class="version">
        <div class="select-version">
            <select name="v" id="v" data-width="100%">
                @foreach (var v in versions)
                {
                    <option value="@v.Value">@v.Text (@v.Value)</option>
                }
            </select>
        </div><!-- end .select-version -->
        @{ var chapter = 0;}
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                if (chapter != item.Chapter)
                {
                    if (chapter != 0)
                    {
                        @Html.Raw("</div><!-- end .chapter -->")
                    }
                    
                    @Html.Raw("<div id='chapter-"+item.Chapter+"' class='chapter'>")
                    @Html.Raw("<h2 class='chapter-stt'>"+item.Chapter+" </h2>")
                    chapter = item.Chapter;
                }
                <span class="verse">
                    <sub>@item.Verse</sub>
                    @Html.Raw(item.Word)
                </span>
            }
        }
        @Html.Raw("</div><!-- end .chapter -->")
        <div class="loading" style="text-align: center">
            <img src="@Url.Content("~/Content/image/ajax-loader.gif")"/>
        </div>
        <div class="error" style="text-align: center">
            LỖI TẢI TRANG
        </div>
    </div><!-- .version -->
</section>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.version').addClass("col-md-6");
            $('.loading').hide();
            $('.error').hide();

            $('#reading-content').delegate('#v', 'change', function () {
                $this = $(this).parent().parent();
                
                $this.find('.chapter').remove();
                $.ajax({
                    url: '@Url.Action("Json")',
                    data: JSON.stringify({ v: $(this).val(), q: '@Request.QueryString["q"]'}),
                    contentType: "application/json",
                    traditional: true,
                    type: "POST",
                    beforeSend: function () {
                        $(this).find('.loading').show();
                    },
                    success: function (r) {
                        var chapter = 0;
                        var html = "";
                        for (var i = 0; i < r.length; i++) {
                            if (r[i].chapter != chapter) {
                                if (chapter != 0) {
                                    html = html+ "</div><!-- end .chapter -->";
                                }

                                html += "<div id='chapter-" + r[i].chapter + "' class='chapter'>";
                                html += "<h2 class='chapter-stt'>"+r[i].chapter + " </h2>";
                                chapter = r[i].chapter;
                            }
                            html += "<span class='verse'><sub>" + r[i].verse + " </sub>" + r[i].word + "</span>";
                        }
                        html = html + "</div><!-- end .chapter -->";
                        $this.find('.loading').before(html);
                        $('#reading-content .verse').css({ 'font-size': current });
                        //$('.loading').hide();
                    },
                    error: function () {
                        $('.loading').hide();
                        $('.error').show();
                    }
                });
            });
        });
    </script>
}

@*<div class="btn-group">
        <button type="button" class="btn-read-style btn btn-default active" data-read="read-block">Block</button>
        <button type="button" class="btn-read-style btn btn-default" data-read="read-inline">Inline</button>
    </div>
    <h2>@ViewBag.Title</h2>
    @{ var chapter = 0;}
    <div id="read-block" class="row read-content">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                if (chapter != item.Chapter)
                {
                    chapter = item.Chapter;
                    <h2>@chapter</h2>
                }
                @Html.Raw(item.Title)
                <span class="verse">
                    <a style="font-size: 11px; font-weight: 900; color: black">@item.Verse</a>
                    @Html.Raw(item.Word)
                </span>
            }
        }
    </div>
    @section styles{
        <style>
            #read-block .verse {
                display: block;
                margin-top: 7px;
            }
        </style>
    }
    @section scripts
{
        <script type="text/javascript">
            $(document).ready(function () {
                $('.btn-group').on("click", ".btn-read-style", function () {
                    $('.active').removeClass('active');
                    $(this).addClass('active');
                    $('.read-content').attr('id', $(this).attr("data-read"));
                });
            });
        </script>
    }*@
