@{ var versions = (SelectList) ViewBag.BibleCode;}

<div class="search-form">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.TextBox("q", Request.QueryString["q"], new {id="keyword", placeholder="vd: sa 1:1" })
        <select name="v" id="version" class="selectpicker">
            @foreach (var v in versions)
            {
                <option value="@v.Value.ToUpper()" @v.Selected data-subtext="- @v.Text.ToUpperInvariant()">@v.Value.ToUpper()</option>
            }
        </select>
        <button type="submit" id="submit-button"><i class="icon-search"></i></button>
    }
</div><!-- end .search-form -->

@section scripts
{
    
}
